<!DOCTYPE html>
<html>
<head>
<title>Ascii Art</title>
</head>

<body>
    <center>

        <style>
            .fixed-size {
              resize: none;
            }
          </style>
          
          <textarea rows="10" cols="50" class="fixed-size" name="input" placeholder="Type something..."></textarea>
    </center>


<center>
  <legend><h2>Banner:</h2></legend>
  <form action="/features/asciiart.go" method="get">
  <input type="radio"  name="banner" value="standard">
  <label for="standard">standard</label>

  <input type="radio" name="banner" value="shadow">
  <label for="shadow">shadow</label>

  <input type="radio" name="banner" value="thinkertoy">
  <label for="thinkertoy">thinkertoy</label>
  </form>
</center>

<center>



  <button><h3>Submit</h3></button> 
</center>


</body>

</html>